body {
    width: 100%;
    height: 100%;
    background-color: #ddd;
}

#header {
    background-color: #ffffffd0;
}

#container:hover {
    box-shadow: -5px 5px 10px rgb(132, 132, 132);
    transition: 0.2s;
}

#menu-btn {
    background-color: #ffffffd0;
}

#emoji-list {
    display: none;
    margin-bottom: 60px;
    height: 200px;
    width: 345px;
    overflow: scroll;
}

#emoji {
    background-color: #ffffffd0;
    /* background-color: #555; */
    padding: 0px 0px 0px 5px;
    height: 40px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-corner {
    background: none;
}

.dropup-content {
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 40px;
    position: absolute;
    bottom: 50px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

ul {
    padding: 0;
    margin: 5px;
    display: flex;
    list-style: none;
}

.dropup:hover {
    opacity: 1;
    visibility: visible;
    bottom: 100%;
    width: 100%;
    transition: 0.5s;
}

#chat-log {
    height: 500px;
    overflow-y: scroll;
    padding: 0.5rem;
    background-color: #ffffffd0;
    border-top: solid 2px #b5b5b5;
    border-bottom: solid 2px #b5b5b5;
}

.person1 {
    width: fit-content;
    margin-top: 10px;
    padding: 5px;
    background-color: lightblue;
    border: none;
    border-radius: 12px;
}

.person2 {
    width: fit-content;
    margin-top: 10px;
    padding: 5px;
    /* color: aqua; */
    background-color: lightslategrey;
    border: none;
    border-radius: 12px;
}

#footer {
    /* background-color: #555; */
    background-color: #ffffffd0;
    height: 8%;
    border-radius: 0px 0px 20px 20px;
}

#chat-message-input {
    /* background-color: #888; */
    background-color: #eaeaea;
    border-radius: 12px;
}

#chat-message-submit {
    background-color: #ffffffd0;
}

#emoji,
#chat-message-submit {
    /* background-color: #555; */
}

#emoji-sagi,
#send-sagi,
#attachment {
    text-align: center;
}

#file-btn {
    height: 25px;
    width: 25px;
    margin-bottom: 5px;
}

input[type="file"] {
    display: none;
}

label {
    cursor: pointer;
}

a {
    padding: 0;
    margin: 0;
    cursor: pointer;
}

li {
    padding: 0;
    margin: 0;
}

.h-90 {
    height: 90%;
}

.h-80 {
    height: 80%;
}

.h-26 {
    height: 26px;
}

i {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.w-26 {
    width: 26px;
}

.w-60 {
    width: 60%;
}

.h-11 {
    height: 11%;
}

.h-600 {
    height: 600px;
}

.h-72 {
    height: 72%;
}

.h-14 {
    height: 14%;
    cursor: text;
}



/* ---------------------------------------- */
/* .overlay {
    padding: 5px;
    width: 50px;
    height: 100px;
    border-radius: 15px;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 9;
    background: #767676;
    display: none;
} */

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.7;
    background: #0057e3;
}

.overlay {
    z-index: 9;
    margin: 30px;
    background: #009938;
}